
@{
    ViewBag.Title = "News";
}
<h1>The day is:@ViewBag.Date</h1>
<h2>News</h2>
<h3>this message is: @ViewBag.message</h3>



<ol>
    <li>this messge is:@ViewData["message"]</li>
    <li>this day is:@ViewData["Date"]</li>

</ol>


<ul>
    @foreach (var tem in ViewBag.News)
    {
        <li>
            @tem


        </li>

    }

</ul>

<ol>
    @foreach (var tem in (string[])ViewData["News"])
    {
        <li>@tem</li>}
</ol>
<h2>News</h2>

